*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  min-width: 20rem;
}

img {
  display: block;
  max-width: 100%;
}

button,
a {
  font: inherit;
}
